spring:
  application:
    name: nutrition-backend

  flyway:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/nutrition_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  security:
    user:
      name: admin
      password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: nutrismart.app.dev@gmail.com
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

gemini:
  api:
    key: ${GEMINI_API_KEY}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

google:
  client:
    id: PLACEHOLDER_ID